<div id="sample">
  <div id="fullDiagram" style="height:250px;width:100%;border:1px solid black;margin:2px"></div>
  <div id="localDiagram" style="height:74%;width:100%;border:1px solid black;margin:2px"></div>
  <button onclick="setupDiagram()">Create New Tree</button>
</div>
