<%= javascript_include_tag 'genealogy', 'data-turbolinks-track': 'reload' %>
<%= javascript_tag do %>
  window.genealogies = <%= raw @arr_genealogies.to_json %>
<% end %>
<div id="sample">
  <div id="fullDiagram" style="height:250px;width:100%;border:1px solid black;margin:2px"></div>
  <div id="localDiagram" style="height:74%;width:100%;border:1px solid black;margin:2px"></div>
</div>
<div class="modal modal-genealogy fade" id="myModal" role="dialog">
  <div class="modal-dialog dialog-genealogy">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btn-close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Chi Tiết</h4>
      </div>
      <div class="modal-body body-genealogy">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
