<%= javascript_include_tag 'genealogy', 'data-turbolinks-track': 'reload' %>
<%= javascript_tag do %>
  window.genealogies = <%= raw @arr_genealogies.to_json %>
<% end %>
<div id="sample">
  <div id="fullDiagram" style="height:250px;width:100%;border:1px solid black;margin:2px"></div>
  <div id="localDiagram" style="height:74%;width:100%;border:1px solid black;margin:2px"></div>
</div>
