<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Posts</h1>
  </div>
  <div id="flash-message">
    <%= render "admin/shared/flash", flash: flash %>
  </div>
</div>
<div class="panel-body">
  <a href="<%= new_admin_post_path %>" class="btn btn-success mg-bot-15" role="button">Create Post</a>
  <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-allpage">
    <thead>
      <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Image</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>Category</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody class="data-tbody">
      <% @posts.each do |post| %>
        <%= render "datatable", post: post %>
      <% end %>
    </tbody>
  </table>
</div>
<div id="myModal" class="modal fade z-index-min" role="dialog">
</div>
