<div class="top_head" style="position: relative;">
  <a class="logo" href="thong-bao-thi.html">
  <%= image_tag "logo.png", alt: "", height: "120" %>
  </a>
  <div class="wr_sologan" style="color: #0f5aad;font-weight: bold;">
    <div id="sologan" style="display: none; text-align: center;top: 30px;font-size: 20px;width: 90%;margin: auto;padding-top: 20px;">
      Công ty cổ phần viện nghiên cứu phát triển nguồn lực Đông Nam Á
      <br /> TRUNG TÂM KHẢO THÍ TRỰC TUYẾN RnD
      <br />
      <p style="color: red;">T.Lợi : 0914.023.472</p>
    </div>
    <%= image_tag "sologan.png", alt: "", height: "70" %>
  </div>
</div>
