<div class="row">
  <div class="col-md-12">
    <ul class="list-unstyled">
      <li><i class="glyphicon glyphicon-pencil"></i>Ban chấp hành họ Nguyễn Việt Nam. </li>
      <li><i class="glyphicon glyphicon-map-marker"></i>Địa Chỉ : 45 Kim Mã - Hà Nội  </li>
      <li><i class="glyphicon glyphicon-envelope"></i>ĐT : 0913081686  Mail : nguyenkiem45@yahoo.com - nguyenkiem45@gmail.com</li>
      <li><i class="glyphicon glyphicon-list-alt"></i>Ban Biên Tập Thông Tin phòng Tuyên truyền lịch sử .</li>
    </ul>
  </div>
</div>
