<div class="box-heading">
    <span>Công đức</span>
</div>
<div class="box-content content_merit">
    <ul class="list-unstyled">
         <marquee direction="up" scrollamount="3" onmouseover="this.stop()" onmouseout="this.start()">
           <li>
            <a class='nopadding' href='/news/cong-duc/danh-sach-don-vi-ca-nhan-cong-duc-cho-hoi.id338.html'>
             <%= image_tag "6291190_IMG_0135.JPG", alt: "" %>
            </a>
            <a href="/news/cong-duc/danh-sach-don-vi-ca-nhan-cong-duc-cho-hoi.id338.html">DANH SÁCH ĐƠN VỊ, CÁ NHÂN CÔNG ĐỨC CHO HỘI</a>
          </li>
          <li>
            <a class='nopadding' href='/news/cong-duc/ngay-02-9-2016-ba-nguye-n-thi-chuyen-o-qua-n-ba-di-nh-ha-no-i-da-ta-ng-ho-i-1-000-000d.id366.html'>
              <%= image_tag "6291190_IMG_0135.JPG", alt: "" %>
            <a href="/news/cong-duc/ngay-02-9-2016-ba-nguye-n-thi-chuyen-o-qua-n-ba-di-nh-ha-no-i-da-ta-ng-ho-i-1-000-000d.id366.html">Ngày 02/9/2016 bà Nguyễn Thị Chuyên ở quận Ba Đình, Hà Nội đã tặng Hội 1.000.000đ</a>
          </li>
          <li>
            <a class='nopadding' href='/news/cong-duc/cong-ty-tnhh-mtv-dv-dl-minh-khanh.id339.html'>
              <%= image_tag "1065442879_lOGO_MK.jpg", alt: "" %>
            </a>
            <a href="/news/cong-duc/cong-ty-tnhh-mtv-dv-dl-minh-khanh.id339.html">
             CÔNG TY TNHH MTV DV DL MINH KHÁNH
            </a>
         </li>
        </marquee>
     </ul>
</div>
