<div class="box-header">
  <span>THÔNG BÁO HOẠT ĐỘNG</span>
</div>
<div class="box-body">
  <div class="list_new">
    <div class="col-md-4 no-left">
      <div class="img_left">
        <a href ="/news/thong-bao-hoat-dong/nga-y-6-3-2018-tu-c-19-tha-ng-gieng-ma-u-tua-t-ho-i-nguo-i-ho-nguye-n-vie-t-nam-di-le-du-c-tha-nh-ta-n-vien-o-de-n-ha-keu-nguo-i-giu-p-cho-ho-i-vie-c-da-t-xay-du-ng-tu-duo-ng.id529.html">
          <%= image_tag "IMG_7151.JPG", alt: "" %>
        </a>
      </div>
    </div>
    <div class="col-md-8 no-left">
      <div class="content_new">
        <h2><a href="/news/thong-bao-hoat-dong/nga-y-6-3-2018-tu-c-19-tha-ng-gieng-ma-u-tua-t-ho-i-nguo-i-ho-nguye-n-vie-t-nam-di-le-du-c-tha-nh-ta-n-vien-o-de-n-ha-keu-nguo-i-giu-p-cho-ho-i-vie-c-da-t-xay-du-ng-tu-duo-ng.id529.html">NGÀY 6/3/2018 (TỨC 19 THÁNG GIÊNG MẬU TUẤT, HỘI NGƯỜI HỌ NGUYỄN VIỆT NAM ĐI LỄ ĐỨC THÁNH TẢN VIÊN Ở ĐỀN HẠ KÊU NGƯỜI GIÚP CHO HỘI VIỆC ĐẤT XÂY DỰNG TỪ ĐƯỜNG</a></h2>
        <p> Th&acirc;́y vi&ecirc;̣c đ&acirc;́t cát x&acirc;y dựng Từ đường l&acirc;u h&ocirc;̀i &acirc;m n&ecirc;n ngày 6/3/2018 (tức ngày 19 tháng Gi&ecirc;ng M&acirc;̣u Tu&acirc;́t), H&ocirc;̣i người họ Nguy&ecirc;̃n Vi&ecirc;̣t Nam đã t&ocirc;̉ chức l&ecirc;n l&ecirc;̃ Đức thánh Tản Vi&ecirc;n &ndash; Nguy&ecirc;̃n Tu&acirc;́n &ndash; &ocirc;ng t&ocirc;̉ của người họ Nguy&ecirc;̃n ở đ&ecirc;̀n Hạ Ba Vì Tp. Hà N&ocirc;̣i ... </p>
      </div>
    </div>
  </div>
   <div class="col-md-12">
     <ul class="list-unstyled list_bottom">
       <li><a href="/news/thong-bao-hoat-dong/nga-y-4-3-2018-ho-i-nguo-i-ho-nguye-n-vie-t-nam-tham-du-chuong-tri-nh-xu-doa-i-do-n-xuan-2018.id528.html">NGÀY 4/3/2018  HỘI NGƯỜI HỌ NGUYỄN VIỆT NAM THAM DỰ CHƯƠNG TRÌNH “XỨ ĐOÀI ĐÓN XUÂN 2018”</a></li>
     </ul>
   </div>
   <div class="col-md-12">
     <ul class="list-unstyled list_bottom">
       <li><a href="/news/thong-bao-hoat-dong/nga-y-1-3-2018-tu-c-14-tha-ng-gieng-ma-u-tua-t-ho-i-nguo-i-ho-nguye-n-vie-t-nam-di-le-du-c-tha-nh-ta-n-vien-o-de-n-ha-va-de-n-va-thuo-c-huye-n-ba-vi-tp-ha-no-i.id526.html">NGÀY 1/3/2018 (TỨC 14 THÁNG GIÊNG MẬU TUẤT, HỘI NGƯỜI HỌ NGUYỄN VIỆT NAM ĐI LỄ ĐỨC THÁNH TẢN VIÊN Ở ĐỀN HẠ VÀ ĐỀN VÀ THUỘC HUYỆN BA VÌ, TP. HÀ NỘI</a></li>
     </ul>
   </div>
   <div class="col-md-12">
     <ul class="list-unstyled list_bottom">
       <li><a href="/news/thong-bao-hoat-dong/hom-nay-27-2-2018-tu-c-12-tha-ng-gieng-ma-u-tua-t-ho-i-nguo-i-ho-nguye-n-vie-t-nam-di-le-thu-y-to-kinh-duong-vuong-o-a-lu-thua-n-tha-nh-ba-c-ninh.id525.html">HÔM NAY 27/2/2018 (TỨC 12 THÁNG GIÊNG MẬU TUẤT, HỘI NGƯỜI HỌ NGUYỄN VIỆT NAM ĐI LỄ THỦY TỔ KINH DƯƠNG VƯƠNG, Ở Á LỮ, THUẬN THÀNH, BẮC NINH</a></li>
     </ul>
   </div>
   <div class="col-md-12">
     <ul class="list-unstyled list_bottom">
       <li><a href="/news/thong-bao-hoat-dong/ho-i-nguo-i-ho-nguye-n-vie-t-nam-thong-ba-o-ve-li-ch-di-le-thu-y-to-kinh-duong-vuong-du-c-tha-nh-ta-n-vien-va-quo-c-to-la-c-long-quan-quo-c-ma-u-au-co-vua-hu-ng-te-t-ma-u-tua-t.id522.html">HỘI NGƯỜI HỌ NGUYỄN VIỆT NAM THÔNG BÁO VỀ LỊCH ĐI LỄ THỦY TỔ KINH DƯƠNG VƯƠNG, ĐỨC THÁNH TẢN VIÊN VÀ QUỐC TỔ LẠC LONG QUÂN, QUỐC MẪU ÂU CƠ, VUA HÙNG TẾT MẬU TUẤT</a></li>
     </ul>
   </div>
   <div class="col-md-12">
     <ul class="list-unstyled list_bottom">
       <li><a href="/news/thong-bao-hoat-dong/ho-i-nguo-i-ho-nguye-n-vie-t-nam-tham-va-chu-c-te-t-thuo-ng-tho-nha-gia-o-nguye-n-van-my-pho-chu-ti-ch-ho-i.id521.html">HỘI NGƯỜI HỌ NGUYỄN VIỆT NAM THĂM VÀ CHÚC TẾT THƯỢNG THỌ NHÀ GIÁO NGUYỄN VĂN MỸ – PHÓ CHỦ TỊCH HỘI</a></li>
     </ul>
   </div>
</div>
