<div class="khung_menu">
  <div class="menu">
    <ul id="nav">
      <li>
        <div style="padding-top:20px; height:33px;" class="item_menu activi_menu">
          <a href="sat-hach.html">SÁT HẠCH</a>
        </div>
      </li>
      <li>
        <div style="padding-top:20px; height:33px;" class="item_menu ">
          <a href="dang-ky.html">ĐĂNG KÝ</a>
        </div>
      </li>
      <li>
        <div style="padding-top:20px; height:33px;" class="item_menu  ">
          <a href="hinh-anh.html">THƯ VIỆN</a>
        </div>
        <ul style="width:150px;">
          <li class="menu_dichvu">
            <div class="m4">
              <a href="hinh-anh.html">&raquo; Hình ảnh</a>
            </div>
          </li>
          <li class="menu_dichvu">
            <div class="m4">
              <a href="video.html">&raquo; Video</a>
            </div>
          </li>
        </ul>
      </li>
      <li>
        <div style="padding-top:20px; height:33px;" class="item_menu ">
          <a href="lien-he.html">LIÊN HỆ</a>
        </div>
      </li>
      <li style="float: right;">
        <div style="padding-top:20px; height:33px;color: white;" class="item_menu">
          0914.023.472
        </div>
      </li>
    </ul>
    <div style=" position:absolute; right:41px;top:18px;">
      <a><%= image_tag "h1.png", alt: "" %></a>
    </div>
  </div>
</div>
