<div class="box-heading">
  <span>Video</span>
</div>
<div class="box-content">
  <ul class="list-unstyled">
    <marquee direction="up" scrollamount="3" onmouseover="this.stop()" onmouseout="this.start()">
      <li>
        <img name="Hội nghị tổng kết 5 năm thành lập" code="bdw4PxY6_xE" src="http://img.youtube.com/vi/bdw4PxY6_xE/0.jpg">
      </li>
      <li>
        <img name="Đại hội đại biểu Họ Nguyễn Yên Dũng lần 1" code="-czXy2qXcaw" src="http://img.youtube.com/vi/-czXy2qXcaw/0.jpg">
      </li>
    </marquee>
  </ul>
</div>
<div id="gridSystemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p class="modal-title" id="gridModalLabel"></p>
      </div>
      <div class="modal-body" style="padding: 0">
        <div class="container-fluid bd-example-row">
          <div class="row">
            <div id="view_yt" class="col-md-12"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="close_yt" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
      </div>
    </div>
  </div>
</div>
