<div class="box-header">
  <span>Lịch Sử Dòng Họ Nguyễn</span>
</div>
<div class="box-body">
  <div class="list_new">
    <div class="col-md-4 no-left">
      <div class="img_left">
        <a href ="/news/lich-su-dong-ho-nguyen/tin-nguong-tho-duc-thanh-tan-vien-ong-to-ho-nguye-n-vie-t-nam-da-duo-c-dua-va-o-danh-mu-c-di-sa-n-van-ho-a-phi-va-t-the-quo-c-gia.id527.html">
          <%= image_tag "son-tinh-thuy-tinh.jpg", alt: "" %>
        </a>
      </div>
    </div>
    <div class="col-md-8 no-left">
      <div class="content_new">
        <h2><a href="/news/lich-su-dong-ho-nguyen/tin-nguong-tho-duc-thanh-tan-vien-ong-to-ho-nguye-n-vie-t-nam-da-duo-c-dua-va-o-danh-mu-c-di-sa-n-van-ho-a-phi-va-t-the-quo-c-gia.id527.html">TÍN NGƯỠNG THỜ  ĐỨC THÁNH TẢN VIÊN - ÔNG TỔ HỌ NGUYỄN VIỆT NAM ĐÃ ĐƯỢC ĐƯA VÀO DANH MỤC DI SẢN VĂN HÓA PHI VẬT THỂ QUỐC GIA</a></h2>
        <p> Trước khi c&aacute;c t&ocirc;n gi&aacute;o lớn định h&igrave;nh tr&ecirc;n mảnh đất h&igrave;nh chữ S, người Việt đ&atilde; ph&aacute;t triển t&iacute;n ngưỡng của ri&ecirc;ng m&igrave;nh. Ngo&agrave;i thờ gia ti&ecirc;n, tổ nghề, c&aacute;c anh h&ugrave;ng chống ngoại x&acirc;m..., tục&nbsp; thờ đức th&aacute;nh Tản Vi&ecirc;n đ&atilde; trở th&agrave;nh một t&iacute;n ngưỡng của người Việt, cũng như tục thờ c&uacute;ng ... </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <ul class="list-unstyled list_bottom">
      <li><a href="/news/lich-su-dong-ho-nguyen/hoang-thai-hau-tu-du-ba-me-nghiem-khac-lay-long-nhan-day-con-ba-i-ho-c-co-n-nguyen-gia-tri.id518.html">Hoàng Thái hậu Từ Dũ - Bà mẹ nghiêm khắc lấy lòng nhân dạy con - Bài học còn nguyên giá trị</a></li>
    </ul>
  </div>
  <div class="col-md-12">
    <ul class="list-unstyled list_bottom">
      <li><a href="/news/lich-su-dong-ho-nguyen/vua-duy-tan-va-long-yeu-nuoc.id507.html">Vua Duy Tân và lòng yêu nước</a></li>
    </ul>
  </div>
  <div class="col-md-12">
    <ul class="list-unstyled list_bottom">
      <li><a href="/news/lich-su-dong-ho-nguyen/vua-gia-long-vo-i-nhu-ng-nha-n-di-nh.id426.html">Vua Gia Long với những nhận định</a></li>
    </ul>
  </div>
  <div class="col-md-12">
    <ul class="list-unstyled list_bottom">
      <li><a href="/news/lich-su-dong-ho-nguyen/da-u-a-n-do-ng-ho-quang-trung-nguye-n-hue-vo-i-chie-n-tha-ng-ky-da-u-1789.id392.html">Dấu ấn dòng họ - Quang Trung Nguyễn Huệ với chiến thắng Kỷ Dậu 1789</a></li>
    </ul>
  </div>
  <div class="col-md-12">
    <ul class="list-unstyled list_bottom">
      <li><a href="/news/lich-su-dong-ho-nguyen/moc-ban-truong-hoc-phuc-giang-cu-a-ho-nguye-n-huy-duoc-cong-nhan-la-di-san-tu-lieu-ky-uc-the-gioi.id52.html">Mộc bản Trường học Phúc Giang của họ Nguyễn Huy được công nhận là di sản tư liệu ký ức thế giới</a></li>
    </ul>
  </div>
</div>
