  <div class="row">
      <div class="top-header">
         <div class="wp-top-header">
           <div class="col-md-12">
              <h1 class="text-center">Website họ Nguyễn Việt Nam - Nơi mọi người trong họ tộc sum vầy</h1>
              <h2 class="text-center">Web họ Nguyễn - Nơi cung cấp thông tin các hoạt động trong họ tại Việt Nam</h2>
            </div>
         </div>
      </div>
      <div class="mid-header">
          <%= image_tag "886230333_BANNER_4.jpg", alt: "" %>
      </div>
      <div class="bot-header">
          <div class="navbar_header">
              <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden" href="#">Brand</a>
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Trang chủ</a></li>
                        <li class="dropdown">
                          <a href="/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          Giới thiệu <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="/news/gioi-thieu-chung">Giới thiệu chung</a></li>
                              <li><a href="/news/lich-su-hinh-thanh">Lịch sử hình thành</a></li>
                              <li><a href="/news/gia-tri-cuoi-nguon">Giá trị cội nguồn</a></li>
                          </ul>
                        </li>
                        <li class="dropdown">
                            <a href="/#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Tin tức <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="/news/tin-trong-nuoc">Tin trong nước</a></li>
                              <li><a href="/news/tin-the-gioi">Tin quốc tế</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="/news/lich-su-dong-ho-nguyen" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Lịch sử họ Nguyễn <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/news/danh-nhan-ho-nguyen-noi-tieng-trong-lich-su">Danh nhân họ Nguyễn nổi tiếng trong lịch sử</a></li>
                                <li><a href="/news/lich-su-dong-ho-nguyen">Lịch sử dòng họ Nguyễn</a></li>
                            </ul>
                        </li>
                        <li><a href="/#">Thư viện ảnh</a></li>
                        <li><a href="/#">Liên hệ</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
          </div>
      </div>
  </div>
