<div class="box-heading">
   <span>Danh Mục</span>
</div>
<div class="box-content">
   <ul class="list-unstyled">
      <% @category_node.each do |cat_node| %>
        <li>
          <%= link_to category_path(cat_node) do %>
            <%= cat_node.name %>
          <% end %>
        </li>
      <% end %>
    </ul>
</div>
