<div class="box-header">
  <span>Danh nhân</span>
</div>
<div class="box-body">
  <div class="list_new">
    <div class="col-md-4 no-left">
      <div class="img_left">
           <a href ="/news/danh-nhan/chu-ti-ch-ho-chi-minh-trong-nguo-i-dan-vie-t-nam-va-the-gio-i.id447.html">
             <%= image_tag "bac.jpg", alt: "" %>
           </a>
      </div>
    </div>
    <div class="col-md-8 no-left">
      <div class="content_new">
        <h2><a href="/news/danh-nhan/chu-ti-ch-ho-chi-minh-trong-nguo-i-dan-vie-t-nam-va-the-gio-i.id447.html">Chủ tịch Hồ Chí Minh trong người dân Việt Nam và thế giới</a></h2>
        <p> Chủ tịch Hồ Ch&iacute; Minh qua đời v&agrave;o hồi 9 giờ 47 ph&uacute;t s&aacute;ng ng&agrave;y 2 th&aacute;ng 9 năm 1969 (tức ng&agrave;y 21 th&aacute;ng 7 &acirc;m lịch) tại thủ đ&ocirc; H&agrave; Nội, hưởng thọ 79 tuổi. Do ho&agrave;n cảnh thời chiến, để tr&aacute;nh tr&ugrave;ng với ng&agrave;y Quốc kh&aacute;nh, ng&agrave;y mất của Người ban đầu được Ban L&atilde;nh đạo Đảng c&ocirc;ng bố l&agrave; ng&agrave;y 3 th&aacute;ng ... </p>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <ul class="list-unstyled list_bottom">
      <li><a href="/news/danh-nhan/vua-minh-mang-da-dung-phap-luat-de-tri-tham-nhung.id433.html">Vua Minh Mạng đã dùng pháp luật để trị tham nhũng</a></li>
    </ul>
  </div>
  <div class="col-md-12">
    <ul class="list-unstyled list_bottom">
      <li><a href="/news/danh-nhan/danh-tuo-ng-nguye-n-hu-u-ca-nh-nguo-i-mo-co-i-nam-bo.id412.html">Danh tướng Nguyễn Hữu Cảnh - Người mở cõi Nam Bộ</a></li>
    </ul>
  </div>
  <div class="col-md-12">
    <ul class="list-unstyled list_bottom">
       <li><a href="/news/danh-nhan/chu-a-nguye-n-phu-c-chu-nguo-i-mo-da-t-my-tho-vi-nh-long-dua-die-u-ran-ca-m-ruo-u-che-co-ba-c.id408.html">Chúa Nguyễn Phúc Chú - Người mở đất Mỹ Tho, Vĩnh Long, đưa điều răn cấm rượu chè, cờ bạc</a></li>
    </ul>
  </div>
  <div class="col-md-12">
    <ul class="list-unstyled list_bottom">
       <li><a href="/news/danh-nhan/chua-nguyen-phuc-chu-voi-cong-cuoc-dai-dinh-dat-dang-trong.id407.html">Chúa Nguyễn Phúc Chu với công cuộc đại định đất Đàng Trong</a></li>
    </ul>
  </div>
  <div class="col-md-12">
    <ul class="list-unstyled list_bottom">
       <li><a href="/news/danh-nhan/hien-vuong-nguyen-phuc-tan-va-tran-hai-chien-lich-su.id405.html">Hiền Vương Nguyễn Phúc Tần và trận hải chiến lịch sử</a></li>
    </ul>
  </div>
</div>
