<div class="box-heading">
  <span>Thư viện ảnh</span>
</div>
<div class="box-content block_gallery">
  <marquee direction="up" scrollamount="3" onmouseover="this.stop()" onmouseout="this.start()">
    <%= image_tag "1898913985_anh19.jpg", alt: "" %>
    <%= image_tag "729491644_anh2.jpg", alt: "" %>
    <%= image_tag "1914875608.jpg", alt: "" %>
  </marquee>
</div>
