<div id="wrapper-menu-mobile">
  <div class="wrapper">
    <ul>
      <li class="first">
        <span>MENU</span>
        <button id="bt-fechar-menu"><span class="">X</span></button>
        <div class="clear"></div>
      </li>
      <li><a href="nghi-dinh-thong-tu.html">Nghị định thông tư</a></li>
      <li><a href="sat-hach.html">Sát hạch</a></li>
      <li><a href="dang-ky.html">Đăng ký</a></li>
      <li><a href="hinh-anh.html">Thư viện</a></li>
      <li><a href="lien-he.html">Liên hệ</a></li>
      <li><a href="thong-bao-thi.html">Thoát</a></li>
    </ul>
  </div>
  <div class="block-menu-mobile"></div>
</div>
