<% @category_lefts.each do |category| %>
  <div class="box-heading">
    <span><%= category&.name %></span>
  </div>
  <div class="box-content">
    <ul class="list-unstyled">
      <% category&.posts&.order(created_at: :desc)&.each do |post| %>
        <li>
          <%= link_to category_post_path(category, post) do %>
            <%= post&.title %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
