<div class="box-heading">
  <span>Tin tức mới nhât</span>
</div>
<div class="box-content">
  <ul class="list-unstyled">
    <% @post_news&.order(created_at: :desc)&.each do |post| %>
      <li>
        <%= link_to category_post_path(post.category, post) do %>
          <%= post&.title %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
