<div class="box-heading">
  <span>Tin tức mới nhât</span>
</div>
<div class="box-content">
  <ul class="list-unstyled">
    <li><a href="/news/tin-trong-nuoc/thu-tuong-nguyen-xuan-phuc-noi-ve-nhung-loi-trai-tai.id530.html">Thủ tướng Nguyễn Xuân Phúc nói về những lời “trái tai”</a></li>
    <li><a href="/news/tin-trong-nuoc/tong-bi-thu-chay-chuc-chay-quyen-nay-da-lam-ro-viec-ai-chay-chay-ai.id512.html">Tổng Bí thư: “Chạy chức chạy quyền, nay đã làm rõ việc ai chạy, chạy ai”</a></li>
    <li><a href="/news/tin-trong-nuoc/can-bo-bien-quyen-luc-thanh-cua-minh-de-ban-phat-xin-cho.id511.html">“Cán bộ biến quyền lực thành của mình để ban phát, xin cho”</a></li>
    <li><a href="/news/tin-trong-nuoc/ong-putin-noi-gi-trong-bai-phat-bieu-chao-mung-nam-2018.id508.html">Ông Putin nói gì trong bài phát biểu chào mừng năm 2018?</a></li>
    <li><a href="/news/tin-trong-nuoc/tong-bi-thu-xu-nghiem-tham-nhung-khong-lam-cham-lai-su-phat-trien.id506.html">Tổng Bí thư: Xử nghiêm tham nhũng không làm chậm lại sự phát triển</a></li>
    <li><a href="/news/tin-trong-nuoc/nhung-phat-ngon-dot-nong-mat-bao-cua-dai-bieu-quoc-hoi.id503.html">Những phát ngôn "đốt nóng" mặt báo của đại biểu Quốc hội</a></li>
    <li><a href="/news/tin-trong-nuoc/ts-tran-dinh-thien-93-trieu-nguoi-dan-phai-nuoi-2-8-trieu-cong-chuc.id502.html">TS Trần Đình Thiên: “93 triệu người dân phải “nuôi” 2,8 triệu công chức”</a></li>
    <li><a href="/news/tin-trong-nuoc/tong-bi-thu-ai-trot-nhung-cham-thi-som-tu-giac-got-rua.id496.html">Tổng bí thư: 'Ai trót nhúng chàm thì sớm tự giác gột rửa'</a></li>
    <li><a href="/news/tin-trong-nuoc/toan-van-bai-phat-bieu-cua-tong-bi-thu-khai-mac-hoi-nghi-trung-uong-6.id489.html">Toàn văn bài phát biểu của Tổng Bí thư khai mạc Hội nghị Trung ương 6</a></li>
    <li><a href="/news/tin-trong-nuoc/lo-nong-len-roi-khong-dua-cui-vao-cung-se-tat.id481.html">“Lò nóng lên rồi, không đưa củi vào cũng sẽ tắt”</a></li>
  </ul>
</div>
