<div class="box-heading">
    <span>Video</span>
</div>
<div class="box-content">
    <ul class="list-unstyled">
         <marquee direction="up" scrollamount="3" onmouseover="this.stop()" onmouseout="this.start()">
                               <li>
         <img name="Hội nghị tổng kết 5 năm thành lập" code="bdw4PxY6_xE" src="http://img.youtube.com/vi/bdw4PxY6_xE/0.jpg">
         </li>
                               <li>
         <img name="Đại hội đại biểu Họ Nguyễn Yên Dũng lần 1" code="-czXy2qXcaw" src="http://img.youtube.com/vi/-czXy2qXcaw/0.jpg">
         </li>
                               <li>
         <img name="Lạc Long Quân và Âu Cơ" code="Qeo1yz8FTpE" src="http://img.youtube.com/vi/Qeo1yz8FTpE/0.jpg">
         </li>
                               <li>
         <img name="KINH DƯƠNG VƯƠNG THỦY TỔ DÂN TỘC VIỆT - THỦY TỔ HỌ NGUYỄN VIỆT NAM" code="-OJ5wfSlkI4" src="http://img.youtube.com/vi/-OJ5wfSlkI4/0.jpg">
         </li>
                               <li>
         <img name="Bài ca họ Nguyễn Việt Nam" code="ItDo7KwxRLE" src="http://img.youtube.com/vi/ItDo7KwxRLE/0.jpg">
         </li>
                               <li>
         <img name="HỌ NGUYỄN VIỆT NAM" code="8WZyTCOBBL0" src="http://img.youtube.com/vi/8WZyTCOBBL0/0.jpg">
         </li>
                               <li>
         <img name="Tự hào họ Nguyễn Việt Nam" code="wv0QcK4lFtY" src="http://img.youtube.com/vi/wv0QcK4lFtY/0.jpg">
         </li>
                               <li>
         <img name="Triều Nguyễn với hoàn thiện lãnh thổ" code="utyMRaFDcyI" src="http://img.youtube.com/vi/utyMRaFDcyI/0.jpg">
         </li>
                               <li>
         <img name="Nguyễn Hữu Tiến với Quốc kỳ Việt Nam" code="YuZ4v7DeNLk" src="http://img.youtube.com/vi/YuZ4v7DeNLk/0.jpg">
         </li>
                               <li>
         <img name="Văn Cao với Quốc ca Việt Nam" code="6IIZ8w_-w7I" src="http://img.youtube.com/vi/6IIZ8w_-w7I/0.jpg">
         </li>
                               <li>
         <img name="LỄ HỘI KING DƯƠNG VƯỜN" code="2Eg1OsmIL2o" src="http://img.youtube.com/vi/2Eg1OsmIL2o/0.jpg">
         </li>
                               <li>
         <img name="Trạng Trình Nguyễn Bỉnh Khiêm" code="OK6tHpOTOkY" src="http://img.youtube.com/vi/OK6tHpOTOkY/0.jpg">
         </li>
                               <li>
         <img name="Các vua nhà nguyễn" code="ZFRMhHwBPIU" src="http://img.youtube.com/vi/OK6tHpOTOkY/0.jpg">
         </li>
                               <li>
         <img name="Hội nghị tổng kết năm 2015" code="t-fu5r1_2-o" src="http://img.youtube.com/vi/t-fu5r1_2-o/0.jpg">
         </li>
                               <li>
         <img name="Di sản văn hóa cô đô Huế" code="FyxdzyRDq3w" src="http://img.youtube.com/vi/FyxdzyRDq3w/0.jpg">
         </li>
                               <li>
         <img name="Đức thánh Tản Viên-Nguyễn Tuấn(1)" code="48X0LaX_qgg" src="http://img.youtube.com/vi/48X0LaX_qgg/0.jpg">
         </li>
                               <li>
         <img name="ĐỨC THÁNH TẢN VIÊN (phần 3)" code="suw6n2Q2ZVs" src="http://img.youtube.com/vi/suw6n2Q2ZVs/0.jpg">
         </li>
                               <li>
         <img name="Hội người họ Nguyễn Việt Nam" code="4fiCmQG0n5I" src="http://img.youtube.com/vi/4fiCmQG0n5I/0.jpg">
         </li>
                               <li>
         <img name="ĐỨC THÁNH TẢN VIÊN (Phần 2)" code="SubwmchTR9c" src="http://img.youtube.com/vi/SubwmchTR9c/0.jpg">
         </li>
                               </marquee>
     </ul>
</div>
 <div id="gridSystemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
         <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                 <p class="modal-title" id="gridModalLabel"></p>
             </div>
             <div class="modal-body" style="padding: 0">
                 <div class="container-fluid bd-example-row">
                     <div class="row">
                         <div id="view_yt" class="col-md-12"></div>
                     </div>
                 </div>
             </div>
             <div class="modal-footer">
                 <button type="button" id="close_yt" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
             </div>
         </div>
     </div>
 </div>
