<div class="khung_tin1">
  <div style="padding-top:5px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top" align="left" class="hidden_mobile">
          <div class="tin_tuc_home" style="margin-top: 8px;">
            <div class="tieude_tin1 tt_home">
              <a href="nghi-dinh-thong-tu.html">NGHỊ ĐỊNH THÔNG TƯ</a>
            </div>
            <div style="padding-top:5px;">
              <div>
                <div class="slide_tintuc scrollbar" id="style-5">
                  <ul>
                    <li style="width: 100%!important;height: auto!important;">
                      <div class="item_tin_tuc_home">
                        <div class="tieude_tin" style="height:auto;margin-bottom: 4px;">
                          <a title="NGHỊ ĐỊNH - Về quản lý chi phí đầu tư xây dựng công trình" style="color: white;" target="_blank" href="public/upload/file/a-nghi-dinh-ve-quan-ly-chi-phi-dau-tu-xay-dung-cong-trinh-update-01-10-2018-time-11-11.pdf">
                          NGHỊ ĐỊNH - Về quản lý chi phí đầu tư xây dựng công trình <a style="color: white;" href="public/upload/file/a-nghi-dinh-ve-quan-ly-chi-phi-dau-tu-xay-dung-cong-trinh-update-01-10-2018-time-11-11.pdf"></a>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li style="width: 100%!important;height: auto!important;">
                      <div class="item_tin_tuc_home">
                        <div class="tieude_tin" style="height:auto;margin-bottom: 4px;">
                          <a title="NGHỊ ĐỊNH - Sửa đổi, bổ sung, bãi bỏ một số quy định về điều kiên đầu tư kinh doanh thuộc các lĩnh vực quản lý nhà nước của Bộ Xây Dựng" style="color: white;" target="_blank" href="public/upload/file/a-nghi-dinh-sua-doi-bo-sung-bai-bo-mot-so-quy-dinh-ve-dieu-kien-dau-tu-kinh-doanh-thuoc-cac-linh-vuc-quan-ly-nha-nuoc-cua-bo-xay-dung-update-01-10-2018-time-10-59.pdf">
                          NGHỊ ĐỊNH - Sửa đổi, bổ sung, bãi bỏ một số quy định về điều kiên&#8230; <a style="color: white;" href="public/upload/file/a-nghi-dinh-sua-doi-bo-sung-bai-bo-mot-so-quy-dinh-ve-dieu-kien-dau-tu-kinh-doanh-thuoc-cac-linh-vuc-quan-ly-nha-nuoc-cua-bo-xay-dung-update-01-10-2018-time-10-59.pdf"></a>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li style="width: 100%!important;height: auto!important;">
                      <div class="item_tin_tuc_home">
                        <div class="tieude_tin" style="height:auto;margin-bottom: 4px;">
                          <a title="NGHỊ ĐỊNH - Về quản lý dự án đầu tư xây dựng" style="color: white;" target="_blank" href="public/upload/file/a-nghi-dinh-ve-quan-ly-du-an-dau-tu-xay-dung-update-01-10-2018-time-10-57.pdf">
                          NGHỊ ĐỊNH - Về quản lý dự án đầu tư xây dựng <a style="color: white;" href="public/upload/file/a-nghi-dinh-ve-quan-ly-du-an-dau-tu-xay-dung-update-01-10-2018-time-10-57.pdf"></a>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li style="width: 100%!important;height: auto!important;">
                      <div class="item_tin_tuc_home">
                        <div class="tieude_tin" style="height:auto;margin-bottom: 4px;">
                          <a title="NGHỊ ĐỊNH - Về sửa đổi, bổ sung một số điều Nghị định số 59/2015/NĐ-CP Ngày 18 tháng 6 năm 2015 của Chính phủ về quản lý dự án đầu tư xây dựng" style="color: white;" target="_blank" href="public/upload/file/a-nghi-dinh-ve-sua-doi-bo-sung-mot-so-dieu-nghi-dinh-so-592015nd-cp-ngay-18-thang-6-nam-2015-cua-chinh-phu-ve-quan-ly-du-an-dau-tu-xay-dung-update-01-10-2018-time-10-56.pdf">
                          NGHỊ ĐỊNH - Về sửa đổi, bổ sung một số điều Nghị định số 59/2015/NĐ-CP&#8230; <a style="color: white;" href="public/upload/file/a-nghi-dinh-ve-sua-doi-bo-sung-mot-so-dieu-nghi-dinh-so-592015nd-cp-ngay-18-thang-6-nam-2015-cua-chinh-phu-ve-quan-ly-du-an-dau-tu-xay-dung-update-01-10-2018-time-10-56.pdf"></a>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li style="width: 100%!important;height: auto!important;">
                      <div class="item_tin_tuc_home">
                        <div class="tieude_tin" style="height:auto;margin-bottom: 4px;">
                          <a title="THÔNG TƯ - Sửa đổi, bổ sung một số điều của các thông tư liên quan đến quản lý dự án đầu tư xây dựng" style="color: white;" target="_blank" href="public/upload/file/a-thong-tu-sua-doi-bo-sung-mot-so-dieu-cua-cac-thong-tu-lien-quan-den-quan-ly-du-an-dau-tu-xay-dung-update-01-10-2018-time-10-54.pdf">
                          THÔNG TƯ - Sửa đổi, bổ sung một số điều của các thông tư liên quan đến&#8230; <a style="color: white;" href="public/upload/file/a-thong-tu-sua-doi-bo-sung-mot-so-dieu-cua-cac-thong-tu-lien-quan-den-quan-ly-du-an-dau-tu-xay-dung-update-01-10-2018-time-10-54.pdf"></a>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li style="width: 100%!important;height: auto!important;">
                      <div class="item_tin_tuc_home">
                        <div class="tieude_tin" style="height:auto;margin-bottom: 4px;">
                          <a title="THÔNG TƯ - Hướng dẫn về năng lực của tổ chức, cá nhân tham gia hoạt động xây dựng" style="color: white;" target="_blank" href="public/upload/file/a-thong-tu-huong-dan-ve-nang-luc-cua-to-chuc-ca-nhan-tham-gia-hoat-dong-xay-dung-update-01-10-2018-time-10-52.pdf">
                          THÔNG TƯ - Hướng dẫn về năng lực của tổ chức, cá nhân tham gia hoạt&#8230; <a style="color: white;" href="public/upload/file/a-thong-tu-huong-dan-ve-nang-luc-cua-to-chuc-ca-nhan-tham-gia-hoat-dong-xay-dung-update-01-10-2018-time-10-52.pdf"></a>
                          </a>
                        </div>
                      </div>
                    </li>
                    <li style="width: 100%!important;height: auto!important;">
                      <div class="item_tin_tuc_home">
                        <div class="tieude_tin" style="height:auto;margin-bottom: 4px;">
                          <a title="THÔNG TƯ - Quy định về phân cấp công trình xây dựng và hướng dẫn áp dụng trong quản lý hoạt động đầu tư xây dựng" style="color: white;" target="_blank" href="public/upload/file/a-thong-tu-quy-dinh-ve-phan-cap-cong-trinh-xay-dung-va-huong-dan-ap-dung-trong-quan-ly-hoat-dong-dau-tu-xay-dung-update-01-10-2018-time-10-45.pdf">
                          THÔNG TƯ - Quy định về phân cấp công trình xây dựng và hướng dẫn áp&#8230; <a style="color: white;" href="public/upload/file/a-thong-tu-quy-dinh-ve-phan-cap-cong-trinh-xay-dung-va-huong-dan-ap-dung-trong-quan-ly-hoat-dong-dau-tu-xay-dung-update-01-10-2018-time-10-45.pdf"></a>
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div style="clear:both">
                </div>
              </div>
            </div>
          </div>
        </td>
        <td valign="top" align="left" style="padding-top:3px;">
          <div class="tin_tuc_home" style="margin-top: 8px;">
            <div class="tieude_tin1 tt_home">
              <a href="tin-tuc-su-kien.html">TIN TỨC - SỰ KIỆN</a>
            </div>
            <div style="padding-top:5px;">
              <div>
                <div class="slide_tintuc" id="sli2">
                  <ul>
                    <li style="width: 100%!important;height: auto!important;">
                      <div class="item_tin_tuc_home">
                        <div class="tieude_tin" style="height:auto;margin-bottom: 10px;margin-top: 10px;">
                          <img src="public/upload/thumbs_resize/a580990803046-update-15-10-2018.png" style="float: left;width: 60px;height: 50px;background: white;border-radius: 3px;" />
                          <a style="color: white;float: left;width: 60%;margin-left: 10px;" href="huong-dan-tao-tai-khoan-dang-ky-hoc.html">
                          Hướng dẫn tạo tài khoản đăng ký học                                                            </a>
                        </div>
                      </div>
                    </li>
                    <li style="width: 100%!important;height: auto!important;">
                      <div class="item_tin_tuc_home">
                        <div class="tieude_tin" style="height:auto;margin-bottom: 10px;margin-top: 10px;">
                          <img src="public/upload/thumbs_resize/a543428473031-update-04-10-2018.jpg" style="float: left;width: 60px;height: 50px;background: white;border-radius: 3px;" />
                          <a style="color: white;float: left;width: 60%;margin-left: 10px;" href="dem-nguoc-gio-g-don-cho-vinfast.html">
                          Đếm ngược giờ G đón chờ VinFast                                                            </a>
                        </div>
                      </div>
                    </li>
                    <li style="width: 100%!important;height: auto!important;">
                      <div class="item_tin_tuc_home">
                        <div class="tieude_tin" style="height:auto;margin-bottom: 10px;margin-top: 10px;">
                          <img src="public/upload/thumbs_resize/a125942026667-update-16-08-2018.jpg" style="float: left;width: 60px;height: 50px;background: white;border-radius: 3px;" />
                          <a style="color: white;float: left;width: 60%;margin-left: 10px;" href="ong-nguyen-cong-lang-gop-cong-cho-vu-nhom-thau-tom-nha-cong-san-ra-sao.html">
                          Ông Nguyễn Công Lang "góp công" cho Vũ "nhôm" thâu tóm nhà công sản ra sao?                                                            </a>
                        </div>
                      </div>
                    </li>
                    <li style="width: 100%!important;height: auto!important;">
                      <div class="item_tin_tuc_home">
                        <div class="tieude_tin" style="height:auto;margin-bottom: 10px;margin-top: 10px;">
                          <img src="public/upload/thumbs_resize/a664351220398-update-16-08-2018.jpg" style="float: left;width: 60px;height: 50px;background: white;border-radius: 3px;" />
                          <a style="color: white;float: left;width: 60%;margin-left: 10px;" href="da-nang-xin-tra-lai-tien.html">
                          Đà Nẵng xin trả lại tiền                                                             </a>
                        </div>
                      </div>
                    </li>
                    <li style="width: 100%!important;height: auto!important;">
                      <div class="item_tin_tuc_home">
                        <div class="tieude_tin" style="height:auto;margin-bottom: 10px;margin-top: 10px;">
                          <img src="public/upload/thumbs_resize/tmp/tmp.png" style="float: left;width: 60px;height: 50px;background: white;border-radius: 3px;" />
                          <a style="color: white;float: left;width: 60%;margin-left: 10px;" href="bo-tri-va-thiet-ke-chi-tiet-ket-cau-btct-bang-revit-structure-rst-va-autocad-structural-detailing-asd-15-thang.html">
                          Bố trí và thiết kế chi tiết kết cấu BTCT bằng Revit Structure (RST) và AutoCAD Structural Detailing (ASD)&#8230;                                                            </a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div style="clear:both">
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
