
  <!-- <div class="bt_chon" style="margin-bottom: 10px;">
    <strong>Định giá xây dựng  - cấp mới </strong>
    <div class="wr_right">
      <a href="sat-hach.html">Bắt đầu</a>
      <a class="bt_tl" target="_blank" style="background: #008040;color: white;" href="public/upload/file/a-dinh-gia-xay-dung0-update-16-08-2018-time-15-47.pdf">Tài Liệu</a>
    </div>
  </div>
  <div class="bt_chon" style="margin-bottom: 10px;">
    <strong>Định Giá Xây Dựng  - chuyển đổi </strong>
    <div class="wr_right">
      <a href="sat-hach.html">Bắt đầu</a>
      <a class="bt_tl" target="_blank" style="background: #008040;color: white;" href="http://thichungchihanhnghe.com/public/upload/file/not_file">Tài Liệu</a>
    </div>
  </div> -->

<div class="khung_noi_dung">
  <div class="wr_thong_bao_chon">
    <h1>THI THỬ MIỄN PHÍ</h1>
  </div>
  <%= simple_form_for @exam, html: {class: "form"} do |f| %>
    <div class="form-group row margin-center bt_chon" style="margin-bottom: 10px;">
      <label for="example-text-input" class="col-2 col-form-label">Chọn Linh Vực Thi</label>
      <div class="col-2">
        <%= f.input :id, label: false, wrapper: false, include_blank: false, as: :select,
          collection: @realms.pluck(:name, :id), input_html: {class: "form-control"} %>
      </div>
    </div>
    <div class="form-group row margin-center bt_chon" style="margin-bottom: 10px;">
      <label for="example-text-input" class="col-2 col-form-label">Chọn Loại</label>
      <div class="col-2">
        <%= f.input :id, label: false, wrapper: false, include_blank: false, as: :select,
          collection: @realms.pluck(:name, :id), input_html: {class: "form-control"} %>
      </div>
    </div>
  <% end %>
</div>
