<div class="col-md-6 no-padding">
  <div class="box-center">
    <div class="box-header"></div>
    <div class="box-body">
      <div id="carousel-example-center" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <a class="fancybox-buttons" data-fancybox-group="button" href="/upload/slideshow/2079227306_anh21.jpg">
              <%= image_tag "2079227306_anh21.jpg", alt: "" %>
            </a>
          </div>
          <div class="item">
            <a class="fancybox-buttons" data-fancybox-group="button" href="upload/images/1187712276_thanhtanvien.jpg">
              <%= image_tag "1187712276_thanhtanvien.jpg", alt: "" %>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render "post_center" %>
</div>
