.w-100 {
  width: 100%;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.max-w73 {
  max-width: 73%;
}

.w-60 {
  width: 80%;
}

.fr-wrapper {
  max-height: 600px;
  overflow: auto;
}

.margin-center {
  margin: auto;
  margin-left: 30px;
}

.z-index-min {
  z-index: 1;
}

.image-preview {
  width: 240px;
  height: 135px;
  max-width: 240px;
  max-height: 135px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.form__item-error {
  color: #f90404;
  display: block;
  align-self: flex-start;
}

.over-flow {
  overflow: auto;
  max-height: 750px;
}

.float-text {
  float: left;
}

.mg-bot-15 {
  margin-bottom: 15px;
}

.style-footer {
  color: #ffd700;
  font-size: 18px;
}
.style-footer-mini {
  color: #ffd700;
  font-size: 15px;
}

.style-footer-center {
  color: #ffd700;
  font-size: 15px;
  text-align: center;
}

.height-400 {
  height: 400px;
}

.word-wrap-100 {
  max-width: 100%;
  word-wrap: break-word;
}

.no-padding u {
  text-decoration: none;
}

.show-video {
  display: none;
}

.carousel-inner {
  max-height: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.left {
  height: 65%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.right {
  height: 65%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.left img {
  height: 100%;
  width: 120px;
}

.right img {
  height: 100%;
  width: 120px;
}

.prev, .nexts {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.nexts {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .nexts:hover {
  background-color: rgba(0,0,0,0.8);
}

.dialog-genealogy {
  width: 60%;
}

@media only screen and (max-width: 500px) {
  .prev, .nexts, .text {font-size: 11px}
}

@media only screen and (max-width: 600px) {
  #visible-left, #visible-right {
    display: none;
  }

  .flex-container {
    display: block;
  }
}

a.next-genealogy {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a.next-genealogy:hover {
  text-decoration: none;
    background-color: #ddd;
    color: black;
}
a.previous-genealogy {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a.previous-genealogy:hover {
    text-decoration: none;
    background-color: #ddd;
    color: black;
}

.previous-genealogy {
  background-color: #4CAF50;
  color: white;
}

.next-genealogy {
    background-color: #4CAF50;
    color: white;
}

.round {
    border-radius: 50%;
}

.mgauto {
  margin: auto;
  margin-left: 10px;
}

.mgl-10 {
  margin-left: 10px;
}
