<fieldset class="cau_so_3" style="text-align: center;">
  <h1 class="title_cau">Câu số 3 : <span style="float: right;font-weight: normal;color: #383838;font-size: 15px;margin-top: -3px;"></span></h1>
  <div class="cau_hoi">
    <div>
      <div>
        <div>
          <div>
            <div class="wr_content_ch">
              Bảo đảm thực hiện hợp đồng xây dựng phải được nộp cho bên giao thầu khi nào?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wr_dap_an">
    <div class="row_dap_an" id="A" dir="3">
      <input id="rd_a_3" type="radio" name="cau_3">
      <label for="rd_a_3">A. Trước thời điểm hợp đồng có hiệu lực</label>
    </div>
    <div class="row_dap_an" id="B" dir="3">
      <input id="rd_b_3" type="radio" name="cau_3">
      <label for="rd_b_3">B. Sau khi hợp đồng được ký kết</label>
    </div>
    <div class="row_dap_an" id="C" dir="3">
      <input id="rd_c_3" type="radio" name="cau_3">
      <label for="rd_c_3">C. Trước khi khởi công xây dựng công trình</label>
    </div>
    <div class="row_dap_an" id="D" dir="3">
      <input id="rd_d_3" type="radio" name="cau_3">
      <label for="rd_d_3">D. Bao gồm cả a, b và c</label>
    </div>
  </div>
  <div class="clear"></div>
  <input type="button" name="previous" class="previous action-button" value="Câu trước"><input type="button" name="next" class="next action-button" value="Câu kế tiếp">
</fieldset>
<fieldset class="cau_so_4" style="text-align: center;">
  <h1 class="title_cau">Câu số 4 : <span style="float: right;font-weight: normal;color: #383838;font-size: 15px;margin-top: -3px;"></span></h1>
  <div class="cau_hoi">
    <div>
      <div>
        <div>
          <div>
            <div class="wr_content_ch">
              Việc giám sát đánh giá đầu tư đối với các dự án đầu tư xây dựng sử dụng vốn nhà nước căn cứ vào các quy định nào?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wr_dap_an">
    <div class="row_dap_an" id="A" dir="4">
      <input id="rd_a_4" type="radio" name="cau_4">
      <label for="rd_a_4">A. Pháp luật về xây dựng</label>
    </div>
    <div class="row_dap_an" id="B" dir="4">
      <input id="rd_b_4" type="radio" name="cau_4">
      <label for="rd_b_4">B. Pháp luật về đầu tư công</label>
    </div>
    <div class="row_dap_an" id="C" dir="4">
      <input id="rd_c_4" type="radio" name="cau_4">
      <label for="rd_c_4">C. Pháp luật về đầu tư công và pháp luật về xây dựng</label>
    </div>
    <div class="row_dap_an" id="D" dir="4">
      <input id="rd_d_4" type="radio" name="cau_4">
      <label for="rd_d_4">D. Pháp luật về đầu tư công, pháp luật về xây dựng và pháp luật khác có liên quan</label>
    </div>
  </div>
  <div class="clear"></div>
  <input type="button" name="previous" class="previous action-button" value="Câu trước"><input type="button" name="next" class="next action-button" value="Câu kế tiếp">
</fieldset>
<fieldset class="cau_so_5" style="text-align: center;">
  <h1 class="title_cau">Câu số 5 : <span style="float: right;font-weight: normal;color: #383838;font-size: 15px;margin-top: -3px;"></span></h1>
  <div class="cau_hoi">
    <div>
      <div>
        <div>
          <div>
            <div class="wr_content_ch">
              Theo quy định của pháp luật về xây dựng, công tác nào sau đây ở giai đoạn thực hiện đầu tư xây dựng?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wr_dap_an">
    <div class="row_dap_an" id="A" dir="5">
      <input id="rd_a_5" type="radio" name="cau_5">
      <label for="rd_a_5">A. Tổ chức lựa chọn nhà thầu, tổng thầu xây dựng để thực hiện các bước thiết kế xây dựng công trình, thi công xây dựng công trình</label>
    </div>
    <div class="row_dap_an" id="B" dir="5">
      <input id="rd_b_5" type="radio" name="cau_5">
      <label for="rd_b_5">B. Tổ chức lựa chọn nhà thầu thực hiện thiết kế quy hoạch, thiết kế xây dựng công trình</label>
    </div>
    <div class="row_dap_an" id="C" dir="5">
      <input id="rd_c_5" type="radio" name="cau_5">
      <label for="rd_c_5">C. Lựa chọn nhà thầu thi công xây dựng</label>
    </div>
    <div class="row_dap_an" id="D" dir="5">
      <input id="rd_d_5" type="radio" name="cau_5">
      <label for="rd_d_5">D. Tất cả các công tác trên</label>
    </div>
  </div>
  <div class="clear"></div>
  <input type="button" name="previous" class="previous action-button" value="Câu trước"><input type="button" name="next" class="next action-button" value="Câu kế tiếp">
</fieldset>
<fieldset class="cau_so_6" style="text-align: center;">
  <h1 class="title_cau">Câu số 6 : <span style="float: right;font-weight: normal;color: #383838;font-size: 15px;margin-top: -3px;"></span></h1>
  <div class="cau_hoi">
    <div>
      <div>
        <div>
          <div>
            <div class="wr_content_ch">
              <p>Suất vốn đầu tư xây dựng công trình được sử dụng để xác định chỉ tiêu nào dưới đây?</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wr_dap_an">
    <div class="row_dap_an" id="A" dir="6">
      <input id="rd_a_6" type="radio" name="cau_6">
      <label for="rd_a_6">A. Tổng mức đầu tư xây dựng công trình.</label>
    </div>
    <div class="row_dap_an" id="B" dir="6">
      <input id="rd_b_6" type="radio" name="cau_6">
      <label for="rd_b_6">B. Giá xây dựng tổng hợp công trình.</label>
    </div>
    <div class="row_dap_an" id="C" dir="6">
      <input id="rd_c_6" type="radio" name="cau_6">
      <label for="rd_c_6">C. Dự toán xây dựng công trình.</label>
    </div>
    <div class="row_dap_an" id="D" dir="6">
      <input id="rd_d_6" type="radio" name="cau_6">
      <label for="rd_d_6">D. Chi phí xây dựng trong tổng mức đầu tư xây dựng công trình</label>
    </div>
  </div>
  <div class="clear"></div>
  <input type="button" name="previous" class="previous action-button" value="Câu trước"><input type="button" name="next" class="next action-button" value="Câu kế tiếp">
</fieldset>
<fieldset class="cau_so_7" style="text-align: center;">
  <h1 class="title_cau">Câu số 7 : <span style="float: right;font-weight: normal;color: #383838;font-size: 15px;margin-top: -3px;"></span></h1>
  <div class="cau_hoi">
    <div>
      <div>
        <div>
          <div>
            <div class="wr_content_ch">
              <p>Dự toán chi phí khảo sát bao gồm những chi phí nào sau đây</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wr_dap_an">
    <div class="row_dap_an" id="A" dir="7">
      <input id="rd_a_7" type="radio" name="cau_7">
      <label for="rd_a_7">A. Chi phí lập phương án kỹ thuật khảo sát.</label>
    </div>
    <div class="row_dap_an" id="B" dir="7">
      <input id="rd_b_7" type="radio" name="cau_7">
      <label for="rd_b_7">B. Chi phí lập báo cáo kết quả khảo sát.</label>
    </div>
    <div class="row_dap_an" id="C" dir="7">
      <input id="rd_c_7" type="radio" name="cau_7">
      <label for="rd_c_7">C. Chi phí chỗ ở tạm.</label>
    </div>
    <div class="row_dap_an" id="D" dir="7">
      <input id="rd_d_7" type="radio" name="cau_7">
      <label for="rd_d_7">D. Cả 3 phương án trên.</label>
    </div>
  </div>
  <div class="clear"></div>
  <input type="button" name="previous" class="previous action-button" value="Câu trước"><input type="button" name="next" class="next action-button" value="Câu kế tiếp">
</fieldset>
<fieldset class="cau_so_8" style="text-align: center;">
  <h1 class="title_cau">Câu số 8 : <span style="float: right;font-weight: normal;color: #383838;font-size: 15px;margin-top: -3px;"></span></h1>
  <div class="cau_hoi">
    <div>
      <div>
        <div>
          <div>
            <div class="wr_content_ch">
              <p>Hợp đồng tư vấn xây dựng gói thầu B được ký kết giữa bên giao thầu và bên nhận thầu có giá trị hợp đồng là 25 tỷ. Vậy, giá trị tạm ứng tối thiểu cho hợp đồng xây dựng này là bao nhiêu?</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wr_dap_an">
    <div class="row_dap_an" id="A" dir="8">
      <input id="rd_a_8" type="radio" name="cau_8">
      <label for="rd_a_8">A. 10% giá hợp đồng;</label>
    </div>
    <div class="row_dap_an" id="B" dir="8">
      <input id="rd_b_8" type="radio" name="cau_8">
      <label for="rd_b_8">B. 15% giá hợp đồng;</label>
    </div>
    <div class="row_dap_an" id="C" dir="8">
      <input id="rd_c_8" type="radio" name="cau_8">
      <label for="rd_c_8">C. 20% giá hợp đồng;</label>
    </div>
    <div class="row_dap_an" id="D" dir="8">
      <input id="rd_d_8" type="radio" name="cau_8">
      <label for="rd_d_8">D. 25% giá hợp đồng.</label>
    </div>
  </div>
  <div class="clear"></div>
  <input type="button" name="previous" class="previous action-button" value="Câu trước"><input type="button" name="next" class="next action-button" value="Câu kế tiếp">
</fieldset>
<fieldset class="cau_so_9" style="text-align: center;">
  <h1 class="title_cau">Câu số 9 : <span style="float: right;font-weight: normal;color: #383838;font-size: 15px;margin-top: -3px;"></span></h1>
  <div class="cau_hoi">
    <div>
      <div>
        <div>
          <div>
            <div class="wr_content_ch">
              <p>UBND cấp tỉnh có thẩm quyền nào dưới đây?</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wr_dap_an">
    <div class="row_dap_an" id="A" dir="9">
      <input id="rd_a_9" type="radio" name="cau_9">
      <label for="rd_a_9">A. Ban hành hệ thống định mức dự toán xây dựng công trình</label>
    </div>
    <div class="row_dap_an" id="B" dir="9">
      <input id="rd_b_9" type="radio" name="cau_9">
      <label for="rd_b_9">B. Công bố giá vật liệu xây dựng, đơn giá nhân công xây dựng, giá ca máy và thiết bị thi công, chỉ số giá xây dựng và đơn giá xây dựng công trình.</label>
    </div>
    <div class="row_dap_an" id="C" dir="9">
      <input id="rd_c_9" type="radio" name="cau_9">
      <label for="rd_c_9">C. Công bố suất vốn đầu tư xây dựng công trình</label>
    </div>
    <div class="row_dap_an" id="D" dir="9">
      <input id="rd_d_9" type="radio" name="cau_9">
      <label for="rd_d_9">D. Cả a và c</label>
    </div>
  </div>
  <div class="clear"></div>
  <input type="button" name="previous" class="previous action-button" value="Câu trước"><input type="button" name="next" class="next action-button" value="Câu kế tiếp">
</fieldset>
<fieldset class="cau_so_10" style="text-align: center;">
  <h1 class="title_cau">Câu số 10 : <span style="float: right;font-weight: normal;color: #383838;font-size: 15px;margin-top: -3px;"></span></h1>
  <div class="cau_hoi">
    <div>
      <div>
        <div>
          <div>
            <div class="wr_content_ch">
              <p>Theo quy định về quản lý chi phí đầu tư xây dựng hiện hành, đơn giá nhân công xây dựng trên địa bàn địa phương do cơ quan nào sau đây ban hành?</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wr_dap_an">
    <div class="row_dap_an" id="A" dir="10">
      <input id="rd_a_10" type="radio" name="cau_10">
      <label for="rd_a_10">A. Ủy ban nhân dân cấp tỉnh.</label>
    </div>
    <div class="row_dap_an" id="B" dir="10">
      <input id="rd_b_10" type="radio" name="cau_10">
      <label for="rd_b_10">B. Sở Xây dựng.</label>
    </div>
    <div class="row_dap_an" id="C" dir="10">
      <input id="rd_c_10" type="radio" name="cau_10">
      <label for="rd_c_10">C. Liên sở Tài chính – Xây dựng.</label>
    </div>
    <div class="row_dap_an" id="D" dir="10">
      <input id="rd_d_10" type="radio" name="cau_10">
      <label for="rd_d_10">D. Chủ đầu tư.</label>
    </div>
  </div>
  <div class="clear"></div>
  <input type="button" name="previous" class="previous action-button" value="Câu trước"><input type="button" name="next" class="next action-button" value="Câu kế tiếp">
</fieldset>
<fieldset class="cau_so_11" style="text-align: center;">
  <h1 class="title_cau">Câu số 11 : <span style="float: right;font-weight: normal;color: #383838;font-size: 15px;margin-top: -3px;"></span></h1>
  <div class="cau_hoi">
    <div>
      <div>
        <div>
          <div>
            <div class="wr_content_ch">
              Phân tích nào sau đây là phân tích độ nhạy.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wr_dap_an">
    <div class="row_dap_an" id="A" dir="11">
      <input id="rd_a_11" type="radio" name="cau_11">
      <label for="rd_a_11">A. Đánh giá sự thay đổi của NPV khi giá nguyên vật liệu đầu vào của dự án có một số thay đổi (tăng, giảm).</label>
    </div>
    <div class="row_dap_an" id="B" dir="11">
      <input id="rd_b_11" type="radio" name="cau_11">
      <label for="rd_b_11">B. Đánh giá sự thay đổi của IRR khi giá bán sản phẩm của dự án có một số thay đổi (tăng, giảm).</label>
    </div>
    <div class="row_dap_an" id="C" dir="11">
      <input id="rd_c_11" type="radio" name="cau_11">
      <label for="rd_c_11">C. Đánh giá sự thay đổi của NPV khi giá nguyên vật liệu đầu vào và giá bán sản phẩm dự án cùng thay đổi (tăng, giảm).</label>
    </div>
    <div class="row_dap_an" id="D" dir="11">
      <input id="rd_d_11" type="radio" name="cau_11">
      <label for="rd_d_11">D. Tất cả các phương án trên</label>
    </div>
  </div>
  <div class="clear"></div>
  <input type="button" name="previous" class="previous action-button" value="Câu trước"><input type="button" name="next" class="next action-button" value="Câu kế tiếp">
</fieldset>
<fieldset class="cau_so_12" style="text-align: center;">
  <h1 class="title_cau">Câu số 12 : <span style="float: right;font-weight: normal;color: #383838;font-size: 15px;margin-top: -3px;"></span></h1>
  <div class="cau_hoi">
    <div>
      <div>
        <div>
          <div>
            <div class="wr_content_ch">
              Khi xác định định mức dự toán xây dựng công trình mới, việc tính toán hao phí nhân công được xác định theo phương pháp nào sau đây?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wr_dap_an">
    <div class="row_dap_an" id="A" dir="12">
      <input id="rd_a_12" type="radio" name="cau_12">
      <label for="rd_a_12">A. Theo dây chuyền công nghệ tổ chức thi công</label>
    </div>
    <div class="row_dap_an" id="B" dir="12">
      <input id="rd_b_12" type="radio" name="cau_12">
      <label for="rd_b_12">B. Theo số liệu thống kê của công trình đã và đang thực hiện có điều kiện, biện pháp thi công tương tự</label>
    </div>
    <div class="row_dap_an" id="C" dir="12">
      <input id="rd_c_12" type="radio" name="cau_12">
      <label for="rd_c_12">C. Theo số liệu khảo sát thực tế</label>
    </div>
    <div class="row_dap_an" id="D" dir="12">
      <input id="rd_d_12" type="radio" name="cau_12">
      <label for="rd_d_12">D. Tất cả các đáp án trên đều đúng</label>
    </div>
  </div>
  <div class="clear"></div>
  <input type="button" name="previous" class="previous action-button" value="Câu trước"><input type="button" name="next" class="next action-button" value="Câu kế tiếp">
</fieldset>
<fieldset class="cau_so_13" style="text-align: center;">
  <h1 class="title_cau">Câu số 13 : <span style="float: right;font-weight: normal;color: #383838;font-size: 15px;margin-top: -3px;"></span></h1>
  <div class="cau_hoi">
    <div>
      <div>
        <div>
          <div>
            <div class="wr_content_ch">
              Theo quy định hiện hành, có bao nhiêu khoản mục chi phí trong tổng mức đầu tư xây dựng?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wr_dap_an">
    <div class="row_dap_an" id="A" dir="13">
      <input id="rd_a_13" type="radio" name="cau_13">
      <label for="rd_a_13">A. 5 khoản mục</label>
    </div>
    <div class="row_dap_an" id="B" dir="13">
      <input id="rd_b_13" type="radio" name="cau_13">
      <label for="rd_b_13">B. 6 khoản mục</label>
    </div>
    <div class="row_dap_an" id="C" dir="13">
      <input id="rd_c_13" type="radio" name="cau_13">
      <label for="rd_c_13">C. 7 khoản mục</label>
    </div>
    <div class="row_dap_an" id="D" dir="13">
      <input id="rd_d_13" type="radio" name="cau_13">
      <label for="rd_d_13">D. 8 khoản mục</label>
    </div>
  </div>
  <div class="clear"></div>
  <input type="button" name="previous" class="previous action-button" value="Câu trước"><input type="button" name="next" class="next action-button" value="Câu kế tiếp">
</fieldset>
<fieldset class="cau_so_14" style="text-align: center;">
  <h1 class="title_cau">Câu số 14 : <span style="float: right;font-weight: normal;color: #383838;font-size: 15px;margin-top: -3px;"></span></h1>
  <div class="cau_hoi">
    <div>
      <div>
        <div>
          <div>
            <div class="wr_content_ch">
              Trong các gói thầu xây dựng mà tại thời điểm lựa chọn nhà thầu và đàm phán ký kết hợp đồng đã đủ điều kiện để xác định chính xác về khối lượng và đơn giá, dự phòng phát sinh khối lượng nên để bao nhiêu phần trăm so với tổng chi phí xây dựng và chi phí hạng mục chung của gói thầu?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wr_dap_an">
    <div class="row_dap_an" id="A" dir="14">
      <input id="rd_a_14" type="radio" name="cau_14">
      <label for="rd_a_14">A. 5%</label>
    </div>
    <div class="row_dap_an" id="B" dir="14">
      <input id="rd_b_14" type="radio" name="cau_14">
      <label for="rd_b_14">B. 0%</label>
    </div>
    <div class="row_dap_an" id="C" dir="14">
      <input id="rd_c_14" type="radio" name="cau_14">
      <label for="rd_c_14">C. lớn hơn 0% và không lớn hơn 5%</label>
    </div>
    <div class="row_dap_an" id="D" dir="14">
      <input id="rd_d_14" type="radio" name="cau_14">
      <label for="rd_d_14">D. Tùy thuộc vào từng gói thầu cụ thể</label>
    </div>
  </div>
  <div class="clear"></div>
  <input type="button" name="previous" class="previous action-button" value="Câu trước"><input type="button" name="next" class="next action-button" value="Câu kế tiếp">
</fieldset>
<fieldset class="cau_so_15" style="text-align: center;">
  <h1 class="title_cau">Câu số 15 : <span style="float: right;font-weight: normal;color: #383838;font-size: 15px;margin-top: -3px;"></span></h1>
  <div class="cau_hoi">
    <div>
      <div>
        <div>
          <div>
            <div class="wr_content_ch">
              Trong các chỉ tiêu sau, chỉ tiêu nào là giá xây dựng tổng hợp bộ phận kết cấu công trình?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wr_dap_an">
    <div class="row_dap_an" id="A" dir="15">
      <input id="rd_a_15" type="radio" name="cau_15">
      <label for="rd_a_15">A. 300 triệu đồng/ Dầm bê tông cốt thép dự ứng lực mác 40Mpa, dầm I, dài 18m.</label>
    </div>
    <div class="row_dap_an" id="B" dir="15">
      <input id="rd_b_15" type="radio" name="cau_15">
      <label for="rd_b_15">B. 54 triệu đồng/cháu mẫu giáo khi quy mô đầu tư xây dựng nhà trẻ 75 &lt; số cháu ≤ 125.</label>
    </div>
    <div class="row_dap_an" id="C" dir="15">
      <input id="rd_c_15" type="radio" name="cau_15">
      <label for="rd_c_15">C. Cả hai phương án a và b.</label>
    </div>
    <div class="row_dap_an" id="D" dir="15">
      <input id="rd_d_15" type="radio" name="cau_15">
      <label for="rd_d_15">D. Không có chỉ tiêu nào là giá xây dựng tổng hợp bộ phận kết cấu công trình.</label>
    </div>
  </div>
  <div class="clear"></div>
  <input type="button" name="previous" class="previous action-button" value="Câu trước"><input type="button" name="next" class="next action-button" value="Câu kế tiếp">
</fieldset>
<fieldset class="cau_so_16" style="text-align: center;">
  <h1 class="title_cau">Câu số 16 : <span style="float: right;font-weight: normal;color: #383838;font-size: 15px;margin-top: -3px;"></span></h1>
  <div class="cau_hoi">
    <div>
      <div>
        <div>
          <div>
            <div class="wr_content_ch">
              Dự án đầu tư xây dựng công trình khu công nghiệp X sử dụng vốn nhà nước được phê duyệt trước ngày 10/5/2012 và đang thực hiện triển khai thi công xây dựng thì các công việc về quản lý chi phí được thực hiện theo quy định tại:
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wr_dap_an">
    <div class="row_dap_an" id="A" dir="16">
      <input id="rd_a_16" type="radio" name="cau_16">
      <label for="rd_a_16">A. Nghị định số 32/2015/NĐ-CP ngày 25/3/2015 của Chính phủ</label>
    </div>
    <div class="row_dap_an" id="B" dir="16">
      <input id="rd_b_16" type="radio" name="cau_16">
      <label for="rd_b_16">B. Nghị định số 112/2009/NĐ-CP ngày 14/12/2009 của Chính phủ</label>
    </div>
    <div class="row_dap_an" id="C" dir="16">
      <input id="rd_c_16" type="radio" name="cau_16">
      <label for="rd_c_16">C. Nghị định số 99/2007/NĐ-CP ngày 13/6/2007 của Chính phủ</label>
    </div>
    <div class="row_dap_an" id="D" dir="16">
      <input id="rd_d_16" type="radio" name="cau_16">
      <label for="rd_d_16">D. Cả 3 đáp án nêu trên đều đúng</label>
    </div>
  </div>
  <div class="clear"></div>
  <input type="button" name="previous" class="previous action-button" value="Câu trước"><input type="button" name="next" class="next action-button" value="Câu kế tiếp">
</fieldset>
<fieldset class="cau_so_17" style="text-align: center;">
  <h1 class="title_cau">Câu số 17 : <span style="float: right;font-weight: normal;color: #383838;font-size: 15px;margin-top: -3px;"></span></h1>
  <div class="cau_hoi">
    <div>
      <div>
        <div>
          <div>
            <div class="wr_content_ch">
              Giá ca máy được điều chỉnh theo những phương pháp nào dưới đây?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wr_dap_an">
    <div class="row_dap_an" id="A" dir="17">
      <input id="rd_a_17" type="radio" name="cau_17">
      <label for="rd_a_17">A. Bù trừ trực tiếp.</label>
    </div>
    <div class="row_dap_an" id="B" dir="17">
      <input id="rd_b_17" type="radio" name="cau_17">
      <label for="rd_b_17">B. Hệ số điều chỉnh.</label>
    </div>
    <div class="row_dap_an" id="C" dir="17">
      <input id="rd_c_17" type="radio" name="cau_17">
      <label for="rd_c_17">C. Chỉ số giá xây dựng.</label>
    </div>
    <div class="row_dap_an" id="D" dir="17">
      <input id="rd_d_17" type="radio" name="cau_17">
      <label for="rd_d_17">D. Tất cả các phương án trên.</label>
    </div>
  </div>
  <div class="clear"></div>
  <input type="button" name="previous" class="previous action-button" value="Câu trước"><input type="button" name="next" class="next action-button" value="Câu kế tiếp">
</fieldset>
<fieldset class="cau_so_18" style="text-align: center;">
  <h1 class="title_cau">Câu số 18 : <span style="float: right;font-weight: normal;color: #383838;font-size: 15px;margin-top: -3px;"></span></h1>
  <div class="cau_hoi">
    <div>
      <div>
        <div>
          <div>
            <div class="wr_content_ch">
              Khi sử dụng định mức dự toán số 1776/BXD-VP ngày16/8/2007 để tính dự toán công tác đổ bê tông tường của công trình cao 52m thì theo phương án nào sau đây là đúng?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wr_dap_an">
    <div class="row_dap_an" id="A" dir="18">
      <input id="rd_a_18" type="radio" name="cau_18">
      <label for="rd_a_18">A. Áp dụng mã hiệu định mức công tác đổ bê tông cho công trình có chiều cao &gt; 50m cho toàn bộ khối bê tông.</label>
    </div>
    <div class="row_dap_an" id="B" dir="18">
      <input id="rd_b_18" type="radio" name="cau_18">
      <label for="rd_b_18">B. Phân tách khối lượng đổ bê tông theo chiều cao công trình đến 4m, từ 4m-16m, từ 16m - 50 m và &gt; 50m.</label>
    </div>
    <div class="row_dap_an" id="C" dir="18">
      <input id="rd_c_18" type="radio" name="cau_18">
      <label for="rd_c_18">C. Tính bình quân định mức cho khối lượng đổ bê tông theo chiều cao công trình đến 4m, từ 4m-16m, từ 16m - 50 m và &gt; 50m.</label>
    </div>
    <div class="row_dap_an" id="D" dir="18">
      <input id="rd_d_18" type="radio" name="cau_18">
      <label for="rd_d_18">D. Quy định cụ thể cách áp dụng sẽ do địa phương có văn bản hướng dẫn.</label>
    </div>
  </div>
  <div class="clear"></div>
  <input type="button" name="previous" class="previous action-button" value="Câu trước"><input type="button" name="next" class="next action-button" value="Câu kế tiếp">
</fieldset>
<fieldset class="cau_so_19" style="text-align: center;">
  <h1 class="title_cau">Câu số 19 : <span style="float: right;font-weight: normal;color: #383838;font-size: 15px;margin-top: -3px;"></span></h1>
  <div class="cau_hoi">
    <div>
      <div>
        <div>
          <div>
            <div class="wr_content_ch">
              Khi xác định dự toán xây dựng thì chi phí thí nghiệm vật liệu của nhà thầu là một nội dung chi phí thuộc:
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wr_dap_an">
    <div class="row_dap_an" id="A" dir="19">
      <input id="rd_a_19" type="radio" name="cau_19">
      <label for="rd_a_19">A. Chi phí tư vấn đầu tư xây dựng</label>
    </div>
    <div class="row_dap_an" id="B" dir="19">
      <input id="rd_b_19" type="radio" name="cau_19">
      <label for="rd_b_19">B. Chi phí một số công việc thuộc hạng mục chung nhưng không xác định được khối lượng từ thiết kế</label>
    </div>
    <div class="row_dap_an" id="C" dir="19">
      <input id="rd_c_19" type="radio" name="cau_19">
      <label for="rd_c_19">C. Chi phí hạng mục chung khác</label>
    </div>
    <div class="row_dap_an" id="D" dir="19">
      <input id="rd_d_19" type="radio" name="cau_19">
      <label for="rd_d_19">D. Chi phí quản lý dự án</label>
    </div>
  </div>
  <div class="clear"></div>
  <input type="button" name="previous" class="previous action-button" value="Câu trước"><input type="button" name="next" class="next action-button" value="Câu kế tiếp">
</fieldset>
<fieldset class="cau_so_20" style="text-align: center;">
  <h1 class="title_cau">Câu số 20 : <span style="float: right;font-weight: normal;color: #383838;font-size: 15px;margin-top: -3px;"></span></h1>
  <div class="cau_hoi">
    <div>
      <div>
        <div>
          <div>
            <div class="wr_content_ch">
              Trong các chỉ tiêu sau, chỉ tiêu nào là suất vốn đầu tư?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wr_dap_an">
    <div class="row_dap_an" id="A" dir="20">
      <input id="rd_a_20" type="radio" name="cau_20">
      <label for="rd_a_20">A. 300 triệu đồng/Dầm bê tông cốt thép dự ứng lực mác 40Mpa, dầm I, dài 18m.</label>
    </div>
    <div class="row_dap_an" id="B" dir="20">
      <input id="rd_b_20" type="radio" name="cau_20">
      <label for="rd_b_20">B. 290 nghìn đồng/m2 mặt đường cấp phối đá dăm láng nhựa tiêu chuẩn 3.0kg/m2, mô đun đàn hồi Eyc ≥ 80MpA.</label>
    </div>
    <div class="row_dap_an" id="C" dir="20">
      <input id="rd_c_20" type="radio" name="cau_20">
      <label for="rd_c_20">C. 6.570.000 đồng/m2 sàn nhà chung cư ≤ 7 tầng.</label>
    </div>
    <div class="row_dap_an" id="D" dir="20">
      <input id="rd_d_20" type="radio" name="cau_20">
      <label for="rd_d_20">D. Tất cả các chỉ tiêu trên</label>
    </div>
  </div>
  <div class="clear"></div>
  <input type="button" name="previous" class="previous action-button" value="Câu trước"><input type="button" name="next" class="next action-button" value="Câu kế tiếp">
</fieldset>
<fieldset class="cau_so_21" style="text-align: center;">
  <h1 class="title_cau">Câu số 21 : <span style="float: right;font-weight: normal;color: #383838;font-size: 15px;margin-top: -3px;"></span></h1>
  <div class="cau_hoi">
    <div>
      <div>
        <div>
          <div>
            <div class="wr_content_ch">
              Dự án đầu tư xây dựng công trình xây dựng trường học X sử dụng vốn ngân sách tỉnh Y, có quy mô nhóm C thì thẩm quyền thẩm định tổng mức đầu tư xây dựng thuộc:
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wr_dap_an">
    <div class="row_dap_an" id="A" dir="21">
      <input id="rd_a_21" type="radio" name="cau_21">
      <label for="rd_a_21">A. Cơ quan chuyên môn về xây dựng thuộc Bộ Xây dựng</label>
    </div>
    <div class="row_dap_an" id="B" dir="21">
      <input id="rd_b_21" type="radio" name="cau_21">
      <label for="rd_b_21">B. Sở Xây dựng tỉnh Y</label>
    </div>
    <div class="row_dap_an" id="C" dir="21">
      <input id="rd_c_21" type="radio" name="cau_21">
      <label for="rd_c_21">C. Cơ quan chuyên môn thuộc người quyết định đầu tư</label>
    </div>
    <div class="row_dap_an" id="D" dir="21">
      <input id="rd_d_21" type="radio" name="cau_21">
      <label for="rd_d_21">D. Chủ đầu tư</label>
    </div>
  </div>
  <div class="clear"></div>
  <input type="button" name="previous" class="previous action-button" value="Câu trước"><input type="button" name="next" class="next action-button" value="Câu kế tiếp">
</fieldset>
<fieldset class="cau_so_22" style="text-align: center;">
  <h1 class="title_cau">Câu số 22 : <span style="float: right;font-weight: normal;color: #383838;font-size: 15px;margin-top: -3px;"></span></h1>
  <div class="cau_hoi">
    <div>
      <div>
        <div>
          <div>
            <div class="wr_content_ch">
              Giá xây dựng tổng hợp bộ phận kết cấu công trình do Bộ Xây dựng công bố:
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wr_dap_an">
    <div class="row_dap_an" id="A" dir="22">
      <input id="rd_a_22" type="radio" name="cau_22">
      <label for="rd_a_22">A. Bao gồm toàn bộ chi phí cần thiết để hoàn thành một đơn vị khối lượng nhóm, loại công tác xây dựng, đơn vị kết cấu hoặc bộ phận công trình xây dựng.</label>
    </div>
    <div class="row_dap_an" id="B" dir="22">
      <input id="rd_b_22" type="radio" name="cau_22">
      <label for="rd_b_22">B. Là một trong những cơ sở để lập tổng mức đầu tư dự án.</label>
    </div>
    <div class="row_dap_an" id="C" dir="22">
      <input id="rd_c_22" type="radio" name="cau_22">
      <label for="rd_c_22">C. Chưa bao gồm thuế giá trị gia tăng</label>
    </div>
    <div class="row_dap_an" id="D" dir="22">
      <input id="rd_d_22" type="radio" name="cau_22">
      <label for="rd_d_22">D. Phương án a và b.</label>
    </div>
  </div>
  <div class="clear"></div>
  <input type="button" name="previous" class="previous action-button" value="Câu trước"><input type="button" name="next" class="next action-button" value="Câu kế tiếp">
</fieldset>
<fieldset class="cau_so_23" style="text-align: center;">
  <h1 class="title_cau">Câu số 23 : <span style="float: right;font-weight: normal;color: #383838;font-size: 15px;margin-top: -3px;"></span></h1>
  <div class="cau_hoi">
    <div>
      <div>
        <div>
          <div>
            <div class="wr_content_ch">
              Theo quy định hiện hành, đối với máy có giá trị từ 30 triệu đồng trở lên, giá trị thu hồi được tính bằng bao nhiêu % của nguyên giá máy và thiết bị thi công xây dựng?
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wr_dap_an">
    <div class="row_dap_an" id="A" dir="23">
      <input id="rd_a_23" type="radio" name="cau_23">
      <label for="rd_a_23">A. 5%.</label>
    </div>
    <div class="row_dap_an" id="B" dir="23">
      <input id="rd_b_23" type="radio" name="cau_23">
      <label for="rd_b_23">B. 10%.</label>
    </div>
    <div class="row_dap_an" id="C" dir="23">
      <input id="rd_c_23" type="radio" name="cau_23">
      <label for="rd_c_23">C. 15%.</label>
    </div>
    <div class="row_dap_an" id="D" dir="23">
      <input id="rd_d_23" type="radio" name="cau_23">
      <label for="rd_d_23">D. 20%.</label>
    </div>
  </div>
  <div class="clear"></div>
  <input type="button" name="previous" class="previous action-button" value="Câu trước"><input type="button" name="next" class="next action-button" value="Câu kế tiếp">
</fieldset>
<fieldset class="cau_so_24" style="text-align: center;">
  <h1 class="title_cau">Câu số 24 : <span style="float: right;font-weight: normal;color: #383838;font-size: 15px;margin-top: -3px;"></span></h1>
  <div class="cau_hoi">
    <div>
      <div>
        <div>
          <div>
            <div class="wr_content_ch">
              Chi phí mua bảo hiểm trách nhiệm nghề nghiệp tư vấn thiết kế xây dựng của công trình từ cấp II trở lên thuộc khoản mục chi phí nào trong tổng mức đầu tư xây dựng:
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wr_dap_an">
    <div class="row_dap_an" id="A" dir="24">
      <input id="rd_a_24" type="radio" name="cau_24">
      <label for="rd_a_24">A. Chi phí tư vấn</label>
    </div>
    <div class="row_dap_an" id="B" dir="24">
      <input id="rd_b_24" type="radio" name="cau_24">
      <label for="rd_b_24">B. Chi phí quản lý dự án</label>
    </div>
    <div class="row_dap_an" id="C" dir="24">
      <input id="rd_c_24" type="radio" name="cau_24">
      <label for="rd_c_24">C. Chi phí khác.</label>
    </div>
    <div class="row_dap_an" id="D" dir="24">
      <input id="rd_d_24" type="radio" name="cau_24">
      <label for="rd_d_24">D. Chi phí dự phòng.</label>
    </div>
  </div>
  <div class="clear"></div>
  <input type="button" name="previous" class="previous action-button" value="Câu trước"><input type="button" name="next" class="next action-button" value="Câu kế tiếp">
</fieldset>
