<div class="copyright">
  <div class="copyright_hg">
    <table width="100%" border="0" height="50" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top" class="footer_div">
          <div>
            <div style="padding:1px;font-size: 13px;color: white;line-height: 10px;">
              <h4><span style="font-size:16px"><strong>C&ocirc;ng ty cổ phần viện nghi&ecirc;n cứu ph&aacute;t triển nguồn lực Đ&ocirc;ng Nam &Aacute;</strong></span></h4>
              <p><span style="font-size:14px"><u><em><strong>Cơ sở 1:</strong></em></u></span></p>
              <p><span style="font-size:14px"><strong>133 L&ecirc; Đ&igrave;nh L&yacute; &ndash; Quận Thanh Kh&ecirc; &ndash; Th&agrave;nh phố Đ&agrave; Nẵng</strong></span></p>
              <p><span style="font-size:14px"><u><em><strong>Cơ sở 2:</strong></em></u></span></p>
              <p><span style="font-size:14px"><strong>151 Nguyễn Lương Bằng &ndash; Quận Li&ecirc;n Chiểu &ndash; Th&agrave;nh phố Đ&agrave; Nẵng</strong></span></p>
              <p><a href="http://www.thichungchihanhnghe.com"><span style="color:#ffffff">Chung chi hanh nghe giam sat</span></a><span style="color:#ffffff"> | </span><a href="http://www.thichungchihanhnghe.com"><span style="color:#ffffff">Lam ho so chung chi hanh nghe</span></a><span style="color:#ffffff"> | </span><a href="http://www.thichungchihanhnghe.com"><span style="color:#ffffff">Chung chi hanh nghe xay dung</span></a><span style="color:#ffffff"> | </span><a href="http://www.thichungchihanhnghe.com"><span style="color:#ffffff">Thi chung chi hanh nghe</span></a></p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
            </div>
          </div>
        </td>
        <td valign="top">
          <div>
            <a href="http://www.facebook.com/ttenter" target="_blank">
            <%= image_tag "fb.png", alt: "" %>
            </a>
          </div>
        </td>
        <td valign="top">
        </td>
        <td valign="top" class="footer_div2">
          <div style="float:right ;width:135px;font-size: 14px;">
            <div>
              <div style="margin-right:2px; text-align:right;color: white;">
                Powered (+) Thiết kế <a style="color: white;" target href="http://danadigital.net">Danadigital.net</a>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="coppy_right_mobile">
    <strong style="text-transform: uppercase;">Công ty cổ phần viện nghiên cứu phát triển nguồn lực đông nam á</strong>
    <br /> Cơ sở 1: 133 Lê Đình Lý – Q. Thanh Khê – TP Đà Nẵng
    <br /> Tel: 0511.3692005 – 0511.2217710
    <br /> Fax : 0511.3692297 – Website : www.thichungchihanhnghe.com
    <br /> Cơ sở 2: 151 Nguyễn Lương Bằng – Q Liên Chiểu – TP Đà Nẵng
    <br /> Tel : 0511.6270227
  </div>
</div>
