<div class="row">
  <div class="col-md-12">
    <ul class="list-unstyled">
      <li><i class="fa fa-pencil style-footer"></i>
        <span class="style-footer">GIA PHẢ HỒ NHƯ TỘC - GIA HÒA - DUY HÒA - QUẢNG NAM</span></li>
      <li><i class="fa fa-map-marker style-footer-mini"></i>
        <span class="style-footer-mini">Tộc trưởng: Ông Hồ Văn Tuân</span></li>
      <li><i class="fa fa-address-book style-footer-mini"></i>
        <span class="style-footer-mini">Liên hệ: Ông Hồ Anh Tài</span></li>
      <li><i class="fa fa-envelope style-footer-mini"></i>
        <span class="style-footer-mini">Email: anhtaiho@hcm.fpt.vn</span></li>
      <li><i class="fa fa-phone style-footer-mini"></i>
        <span class="style-footer-mini">Di động: 0938.824.940</span></li>
      <li class="style-footer-center">
        <span class="style-footer-center">
          Mọi chi tiết về chỉnh sửa nội dung website, vui lòng liên hệ ông Hồ Tấn Dục
        </span>
      </li>
      <li class="style-footer-center">
        <i class="fa fa-address-book style-footer"></i>
        <span class="style-footer-center">
          SDT: 0935.231.288 - Email: duc.hotan2312@gmail.com
        </span>
      </li>
    </ul>
  </div>
</div>
